@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

#marge-desktop {
    background-color: #f5f5f8;
}

.big-checkbox {width: 20px; height: 20px;}
#guid-jumb {
    background-color: #66afe9; /* Orange */
    color: #ffffff;
}
.lead-guid {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
    text-align: justify ;
}

.modal-body {
    max-height: 80vh; //Sets the height to 80/100ths of the viewport.
    overflow-y:auto;
    overflow-x:auto;
}
.modal-header {
    max-height: 80vh; //Sets the height to 80/100ths of the viewport.
}