
{% extends 'merge/baseReport.html' %}

{% load mytags %}

{% block breadcrumb-report %}
    <li class="breadcrumb"><a class=""  href="{% url 'profiles:dashboard:project_detail' project.id %}" > Project Detail</a> </li>
    <li class="breadcrumb" > <a class="text-muted" href=""> Merging Evaluations </a></li>
{% endblock %}
{% block title %} Merging Evaluations {% endblock %}


{% block container %}
    <div class="container" id="marge-desktop">
        <div class="row text-center">
            <div class="lead text-info"> <h1>Mergeing Evaluations</h1></div>
        </div>
        <br>
        <hr class="divider">
        <div class="row">
            <div class="btn-group-sm">
{#                <div class="col-xs-3 pull-right btn-group btn-toggle">#}
{#                    <button class="btn btn-default btn-sm">OFF</button>#}
{#                    <button class="btn btn-primary btn-sm active">Reommendation ON</button>#}
{#                </div>#}
                <div id="report-action" class="col-xs-3 pull-right btn-group action-dropdown">
                    <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="{% url 'merge:report-html' project.id %}"> Export a Report</a></li>
                        <li><a target="_blank" href="{% url 'merge:export-html-file' project.id 1 %}"> Export Merged Evaluations</a></li>
{#                        <li><a target="_blank" href=""> Export Merged Evaluation as Spreadsheet </a></li>#}
                    </ul>
                </div>
                <div class="col-xs-3 pull-left merge-bar">
                    <a class="btn btn-primary btn s_action" href="javascript:merge ({{ project.id }}) "> Merge Selected Evaluations</a>
                    {#                <button id="merge-btn" type="button" class="btn btn-primary btn s_action" data-toggle="modal" data-target="#merge-dial" data="{{ eval_list.id }}"> Merge Selected Evaluations 2</button>#}
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="height:50% "><!-- -->
            <div class="col-sm-3" ><!-- Evaluations panel  -->
                <div class="text-center ">
                    <div class="row"> <h4>Evaluations <small> (Not Merged) </small> </h4> <hr></div>
                    <div class="row">
                        <div class="col-sm-offset-7 ">
                            <input type="checkbox" id="eval-checkBoxes" />
                        </div>
                    </div>
                </div>
                <br>
                <div id="eval-list" class="common-action" style="overflow: scroll ; overflow-y: scroll">
                    {% include 'merge/user-based-evals.html' %}
                </div>
            </div> <!-- End of Evaluations panel -->
            <div class=" col-sm-3 bg-info"><!-- Recome place base-->
                <div class="" >
                    <div class="text-center">
                        <div class="row"> <h4>Evaluations from similar place </h4> <hr></div>
                        <div class="row">
                            <div class="col-sm-offset-7">
                                <input type="checkbox" id="place-checkBoxes" />
                            </div>
                        </div>
                    </div>
                    {#                    <div class="panel-body" style="overflow: scroll ; overflow-y: scroll">#}
                    <div id="output" class="common-action" onload=""> </div>
                    {#                    </div>#}
                </div>
            </div><!-- End of recommendation based of Place  -->
            <div class=" col-sm-3 bg-info"><!-- Recome content base -->
                <div class="" >
                    <div class="" >
                        <div class="text-center">
                            <div class="row"> <h4>Evaluations with similar content</h4> <hr></div>
                            <div class="row">
                                <div class="col-sm-offset-7">
                                    <input type="checkbox" id="content-checkBoxes" />
                                </div>
                            </div>

                        </div>
                        <div id="recContBase" class="common-action"></div>
                    </div>
                </div>
            </div><!--  End of recommendation based of Tags-->
            <div class="col-sm-3" ><!-- Report panel  -->
                <div class="text-center">
                    <div class="row"> <h4>Merged Evaluations </h4> <hr></div>
                    {#                    <div class="row">#}
                    {#                        <div class="col-sm-offset-7">#}
                    {#                            <input type="checkbox" id="checkBoxes" />#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div id="report-list"  class="common-action" style="overflow: scroll ; overflow-y: scroll">
                        {% with mergedEvals as evaluations %}
                            {% include 'HE3/evaluations/e-panel-list.html' %}
                        {% endwith %}
                    </div>

                </div>
            </div> <!-- End of Report panel -->
        </div>
    </div><!-- End of container -->
    {% include 'HE3/evaluations/eval-modal.html' %}
    {% include 'HE3/delete_confirmation.html' %}

    {#    <div class="modal fade" id="e-detail" tabindex="-1" role="dialog">#}
    {#        <div class="modal-dialog modal-lg" role="document">#}
    {#            <div id="e-detail-content" class="modal-content">#}
    {##}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="modal fade" id="merge-dial" tabindex="-1" role="dialog">#}
    {#        <div class="modal-dialog modal-lg" role="document">#}
    {#            <div id="merge-content" class="modal-content">#}
    {#                <form>#}
    {#                    <input value="Name"/>#}
    {#                </form>#}
    {#                <a class="btn btn-primary btn s_action" href="javascript:merge ({{ eval_list.id }}) "> Merge Selected Evaluations</a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <!-- Modal HTML Markup -->
    {#    <div id="merge-dial" class="modal fade">#}
    {#        <div class="modal-dialog">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h4 class="modal-title text-xs-center">Creating a new evaluation with the contents of the selected evaluations:</h4>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <form role="form" method="POST" action="">#}
    {#                        <input type="hidden" name="_token" value="">#}
    {#                        <div class="form-group">#}
    {#                            <label class="control-label">Enter a title:</label>#}
    {#                            <div>#}
    {#                                <input type="email" class="form-control input-lg" name="Title" value="">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <div>#}
    {#                                <div class="checkbox">#}
    {#                                    <label>#}
    {#                                        <input type="checkbox" name="remember"> Add the new evaluation to the report#}
    {#                                    </label>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#                <div class="modal-footer text-xs-center">#}
    {#                    <a class="btn btn-primary" href="javascript:merge ({{ eval_list.id }}) "> Merge Selected Evaluations</a>#}
    {#                </div>#}
    {#            </div><!-- /.modal-content -->#}
    {#        </div><!-- /.modal-dialog -->#}
    {#    </div><!-- /.modal -->#}


{% endblock %}



