{% extends 'base.html' %}

{% block titleOfPage %} {{ project.name | capfirst }} - Report{% endblock %}
{% block title %} {{ project.name }} - Report {% endblock %}
{% block navbar %} {% endblock %}
{% block menubar %} {% endblock %}

{% block container %}
    <div class="container">
{#    ------------------------------Title---------------------------------------#}
        <div class="starter-template">
            <h1 class="bg-info">   {{ project.name | capfirst }} - Report </h1>
        </div>
{#    --------------------------------project detail-----------------------------#}
        <div>
            <h2>Project Description:</h2> <br> <p>{{ project.description }} - {{ project.link }}</p>
        </div>
{#   ----------------------------------Evaluators -----------------------------#}
        <div><h2>Evaluators:</h2>
            <p> These are the evalutors in this project:</p>
            {% for ev in project.evaluators.all %}
                <li> {{ ev.name }} - {{ ev.email }}</li>
            {% endfor %}
        </div>
        <div><h4>Evaluator Environments:</h4>
        {% include 'merge/environments.html' %}
        </div>
    {% if pos_merge %}
        <div><h2>Positive Merged evaluations:</h2>
        {% with pos_merge as evaluations %}
            {% include 'HE3/tables/eval-table-merge.html' %}
        {% endwith %}
        </div>
    {% endif %}
    {% if neg_merge %}
        <div> <h2>Negative Merged Evaluations:</h2>
        {% with neg_merge as evaluations %}
            {% include 'HE3/tables/eval-table-merge.html' %}
        {% endwith %}
        </div>
{#-----------------------------Appendix--------------------------------------------#}

    {% endif %}

        <div>Positive  evaluations</div>
        <div>Negative  evaluations</div>

{#    -------------------Heuristics---------------------------------------#}

        <div>
            <h2>Heuristic set:</h2> This project used <strong>{{ project.setOfHeuristics.title }} </strong> set of heuristcs.<br>
            <h4>{{ project.setOfHeuristics.title }} : </h4>
            <p>{{ project.setOfHeuristics.description }}</p>
            {% for princip in project.setOfHeuristics.SetOfHeuristics.all %}
               <stron>Principle {{ forloop.counter }} :  {{ princip.title }} : </stron>
                <p>{{ princip.description }}</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}