{% extends 'base.html' %}

{% block titleOfPage %} {{ project.name | capfirst }} - Report{% endblock %}
{% block title %} {{ project.name }} - Report {% endblock %}
{% block navbar %} {% endblock %}
{% block menubar %} {% endblock %}

{% block container %}
    <div class="container">
        {#    ------------------------------Title---------------------------------------#}
        <div class="jumbotron text-center">
            <h1 class="text-primary">   {{ project.name | capfirst }} - Report </h1>
        </div>
        {#    --------------------------------project detail-----------------------------#}
        <div class="">
            <br> <br>
            <h2 class="text-info">Project Description:</h2><hr>
            <div class="col-sm-offset-1">
                <p>{{ project.description }}
                    {% if project.link %}
                        - {{ project.link }}
                    {% endif %}
                </p>
            <br>
            <h4> Project Manager:</h4>
            <p>{{ project.manager.name }} - {{ project.manager.email }}</p>
            </div>
        </div>
        {#   ----------------------------------Evaluators -----------------------------#}
        {% if evaluators %}
            <div>
                <br><br>
                <h2 class="text-info">Evaluators:</h2> <hr>
                <div class="col-sm-offset-1">
                    <p> These are the evaluators in this project:</p>
                    <div>
                        {% for ev in evaluators %}
                            <li> {{ ev.name }} - {{ ev.email }} </li>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if environments %}
            <div>
                <br>
                <h2 class="text-info">Evaluator Environments:</h2><hr>
                <br>
                <div>
                    {% include 'merge/environments.html' %}
                </div>
                <br>
            </div>
        {% endif %}
        {% if pos_merge %}
            <br><br>
            <div><h2 class="text-info">Positive Merged Evaluations:</h2> <hr>
                <div>
                    {% with pos_merge as evaluations %}
                        {% include 'HE3/tables/eval-table-merge-desc.html' %}
                    {% endwith %}
                </div>
            </div>
            <br>
        {% endif %}
        {% if neg_merge %}
            <br><br>
            <div> <h2 class="text-info">Negative Merged Evaluations:</h2><hr>
                <div>
                    {% with neg_merge as evaluations %}
                        {% include 'HE3/tables/eval-table-merge-desc.html' %}
                    {% endwith %}
                </div>
                <br>
            </div>
        {% endif %}
        {#-----------------------------Appendix--------------------------------------------#}

        {% if evaluations %}
            <div>
                <br><br>
                <h2 class="text-info">All Evaluations: </h2><hr>
                <div>
                    {% include 'HE3/tables/eval-table-desc.html' %}
                </div>
            </div>
        {% endif %}


        {#    -------------------Heuristics---------------------------------------#}

        <div>
            <br><br>
            <h2 class="text-info">Heuristic set:</h2><hr>
            <div class="col-sm-offset-1">
                <p>
                    This project used <strong>{{ project.setOfHeuristics.title }} </strong> set of heuristcs.
                </p>
            </div>
            <br>
            <div class="col-sm-offset-1">
                <h4>{{ project.setOfHeuristics.title }} : </h4> <br>
                <div class="">
                    <p>{{ project.setOfHeuristics.description }}</p>
                </div>
                <br>
                <br>
                <ol>
                    {% for princip in project.setOfHeuristics.SetOfHeuristics.all %}
                        <li>
                            <p class="lead">Principle {{ forloop.counter }} - {{ princip.title }} : </p>
                        </li>
                        <p>{{ princip.description }}</p>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}