<div class="col-sm-9">
    <div id='guid-jumb' class="jumbotron text-center"><h1>SHE Walkthrough</h1></div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-offset-1"><h1 class="guid-header text-info">How to be a user in SHE?</h1>
            <hr>
            <p class="fa-2x">This section goes through some aspects of account managements in SHE, e.g. Signing up/in, profile management, password recovery, etc. Each functionality is described with the relevant screenshots.
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="col-sm-offset-1">
            <h3>header 1</h3>
            <p class="fa-2x">
                To use SHE having an account is necessary. Registering an account is done in a simple step with a name which will be used as the username and also an email
            </p>
            <img src=""/>
        </div>

    </div>
</div>
