{% extends 'base.html' %}


{% load staticfiles %}

{% block splash %}
    <ul class="breadcrumb">
        <li class="breadcrumb" > <a href="{% url 'home' %}">Home</a> </li>
        <li class="breadcrumb"  > <a class="text-muted" href="{% url 'help' %}">Help</a> </li>
    </ul>
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav " >
                <div class="page-header "> <h1 class="text-primary"> {% block titleOfPage %} SHE Walkthrough {% endblock %}</h1></div>
                <ul class="nav nav-pills nav-stacked">
                    <li class=""><a href="" >How to be a user SHE</a></li>
                    <li class=""><a href="">How to be an evaluator in SHE</a></li>
                    <li class=""><a href="">How to be a manager in SHE</a></li>
                </ul><br>
            </div>

            {#            {% include 'guid.html' %}#}
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <!-- Guid Entries Column -->
                    <div class="col-md-10">

                        <h1 id="guid-jumb" class="jumbotron text-center fa-4x">
                            How to use SHE?
                            {#                    <small> How to use SHE</small>#}
                        </h1>
                        <br>
                        <br>
                        <br>

                        <!-- Sign up -->
                        <h2>
                            <a class="text-capitalize" href="#">How to Be a User in SHE?</a>
                        </h2>
                        <br>
                        <p class="lead-guid">
                            This section introduces some aspects of account managements in SHE, e.g. Signing up/in, profile management, password recovery, etc. Each functionality is described with the relevant screenshots.
                        </p>
                        <hr>
                        <br>
                        <h1>Signing Up:</h1>
                        <p class="lead-guid">  To use SHE having an account is necessary. Registering an account is done in a simple step with a <strong>name </strong><small>(will be used as the username)</small> and also an <strong>email</strong> <small>(will be used for password recovery)</small>.
                        </p>
                        <img class="img-responsive" src="/media/guid/user/signup.jpeg">
                        <hr>
                        <br>

                        <!-- Sign in -->
                        <h1>
                            Signin in:
                        </h1>
                        <br>
                        <p class="lead-guid">
                            A registered user should log in to be able to use SHE:
                        </p>
                        <img class="img-responsive" src="/media/guid/user/login.jpeg" alt="">
                        <hr>
                        <br>

                        <!-- password revcovery -->
                        <h2>
                            Password recovery:
                        </h2>
                        <br>
                        <p class="lead-guid">
                            If users forgot their passwords it is possible for them to recover their password using their registered email:
                        </p>
                        <div class="text-center">
                            <img class="img-responsive col-sm-offset-4" src="/media/guid/user/passRecovery.jpeg" alt="">
                        </div>
                        <br>
                        <hr>
                        <br>

                        <!-- Editing profile -->
                        <h2>
                            Editing user profile:
                        </h2>
                        <br>
                        <p class="lead-guid">
                            Users can have an editable profile with a photo and a short bio:
                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/user/editprofile.jpeg" alt="">
                        <br>
                        <hr>
                        <br>
                        <!-- Dashboard -->
                        <h2>
                            Dashboard View:
                        </h2>
                        <br>
                        <p class="lead-guid">
                            Once a user logged in, he/she sees the dashboard. For the first time dashboard is empty and will be look like this:                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/emptyDashboard.jpeg" alt="">
                        <br>
                        <p class="lead-guid">
                            Once a user creates his own projects as the manager or become an evaluator in the projects of the other users or create some environment specifics and define new heuristic sets then dashboard will be look like this:
                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/user/dashboardFull.jpeg" alt="">
                        <br>
                        <hr>
                        <br>

                        <!-- Project Detail -->
                        <h2>
                            Project Detail:
                        </h2>
                        <br>
                        <p class="lead-guid">
                            A user can see the details of each project just by clicking on the title of the project and depending on being a manager or an evaluator he/she can see different information and operations for that project.                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/projectDetail.jpeg" alt="">
                        <hr>

                        <!-- Being an evaluator -->
                        <br>
                        <h2>
                            <a href="#" class="text-capitalize">how to be an evaluator?</a>
                        </h2>
                        <br>
                        <p class="lead-guid">
                            Users will see in their dashboard whether or not they are an evaluator in a project of other users:                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/dashboardEvaluator.jpeg" alt="">
                        <br>
                        <p class="lead-guid"> If the deadline of a project is not passed an evaluator can see the blue button Evaluate. By clicking this button an evaluator can start adding his/her evaluations to the project. Evaluators can remove themselves as an evaluator in a specific project by pressing the Del button. The delete process will be finished after the confirmation in a pop up warning window.
                        </p>
                        <br>
                        <hr>

                        <!-- Adding a new evaluation -->
                        <br>
                        <h2>
                            Adding a new evaluation:
                        </h2>
                        <p class="lead-guid">
                            If the project deadline for the evaluation is not passed an evaluator can press the add evaluation button to open an evaluation form similar to the following screenshot. By filling the form and pressing the submit button at the bottom of the page the evaluation will be saved. In this form some fields are optional and some are necessary. Title, place and description fields are required to be filled. The rest is optional but recommended; e.g. the link field in the evaluation of a website page which should be filled in this form: http://www.example.com.
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/evaluationForm.jpeg" alt="">
                        <hr>
                        <hr>


                        <!-- Adding env -->
                        <h2>
                            Adding a new environment:
                        </h2>
                        <p class="lead-guid">
                            Evaluators can register the specifics of their environment so the manager can see the circumstances of the evaluations e.g. monitor resolution, operation system, etc. Creating an environment item is done by clicking on the link <span class="text-capitalize strong text-info">create an evaluation environment </span> which is in the sidebar of the dashboard and will opens a form similar to the following screenshot. An evaluator can create multiple environments.
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/createEnv.jpeg" alt="">
                        <br>
                        <hr>


                        <!-- Being an manager -->
                        <br>
                        <h2>
                            <a href="#" class="text-capitalize">how to be an manager?</a>
                        </h2>
                        <br>
                        <p class="lead-guid">
                            Being a manager means to define and edit a project. A manager can add and delete other users as evaluators of the project and finally can merge the evaluations and create reports of the results of the evaluation. A manager can define and edit heuristic sets upon which a project is defined.
                        <hr>
                        <br>
                        <br>

                        <!-- Defining a heuristic set -->
                        <h2>
                            Defining a Heuristic Set:
                        </h2>
                        <p class="lead-guid">
                            SHE already has some widely used set of heuristics like Nielsen heuristics, but a managers can define their own custom set of heuristic sets by clicking on the create a new heuristic set tab in the sidebar. A page similar to the the following screenshot will opens and after entering a name and a description the set will be created after submitting and a page similar to the following screenshot will be opened. The set still does not have any principle and therefore is empty. Adding new principles is done by clicking Add New Heuristic Principle button.                        <hr>
                        <img class="img-responsive" src="/media/guid/manager/createSet.jpeg" alt="">
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/emptyHeuristicSet.jpeg" alt="">
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/addingPrinciple.jpeg" alt="">
                        <br>

                        <br>
                        <p class="lead-guid">
                            After adding some principles the set will be similar to the following screenshot. Each principle can be edited or even deleted using operation buttons in the last columns.
                        </p>
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/filledSet.jpeg" alt="">
                        <br>
                        <br>
                        <h3 class="text-warning">NOTE:</h3>
                        <p class="lead-guid">
                            A set of heuristics which is in use in a project cannot be deleted as long as that project is using the set. To delete this set the manager can edit that project and chose another set of heuristics or even delete the whole project to make the set free to delete.
                        </p>
                        <br>
                        <br>
                        <br>

                        <!-- def project -->
                        <h2>
                            Defining a Project:
                        </h2>
                        <br>
                        <p class="lead-guid">
                            Defining a new project is done by clicking on the New Project link in the sidebar of the dashboard to see a form like the following screenshot. Except the filed link, the other fields are required to be filled. After filling the form clicking submit will create the new project.                        <hr>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/defineProject.jpeg" alt="">
                        <hr>
                        <br>

                        <!-- Merging Evaluations: -->
                        <h2>
                            Merging Evaluations:
                        </h2>
                        <br>
                        <p class="lead-guid">
                            Manager can merge existing evaluations and make merged evaluation. The merging can be done anytime but it is better to be after the deadline of the project. After clicking on the Merge Evaluations button in the project detail or in the overview of the project in the dashboard merge desktop opens a similar page to the following screenshot. In the first column with the name Evaluations (not merged) you can see all the evaluations which are not already merged, categorized by the name of their evaluators. By clicking on each evaluation you can see the details of that evaluation like in the following screenshot. Getting similar evaluations is done after clicking the checkbox of any evaluation. Each time a checkbox is checked place-based and content-based recommendation for merge appears in the middle columns:
                            <br>
                            <img class="img-responsive" src="/media/guid/manager/mergeBeforeClick.jpg" alt="">

                            <br>
                            <img class="img-responsive" src="/media/guid/manager/mergeAfterClick.jpeg" alt="">

                            <br>
                        <p class="lead-guid">
                            By choosing more than two checkboxes a blue button with the name Merge Selected Evaluations appears on the top left of the page. Clicking this button will combines the information of all the selected evaluations to create a new merged evaluation. An evaluation form page with the information of the new merged evaluation will be opened which can/should be edited to summarize the combined data in its fields.
                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/mergeBtn.jpg" alt="">
                        <br>
                        <hr>
                        <br>

                        <!-- Export -->
                        <h2>
                            Exporting Report or Evaluations:
                        </h2>
                        <p class="lead-guid">
                            In project detail page a manger can find different Export buttons which gives different export options in a dropdown menu to export both merged evaluations and normal evaluations separately.
                        <p class="lead-guid">The same as exporting evaluations in project detail page and also on the top of the merge desktop page the manager can find Export button for producing and exporting a report in different format.</p>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/export.jpg" alt="">
                        <hr>
                        <br>

                        {#                        <!-- Pager -->#}
                        {#                        <ul class="pager">#}
                        {#                            <li class="previous">#}
                        {#                                <a href="#">&larr; Older</a>#}
                        {#                            </li>#}
                        {#                            <li class="next">#}
                        {#                                <a href="#">Newer &rarr;</a>#}
                        {#                            </li>#}
                        {#                        </ul>#}

                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->

        </div>
    </div>
{% endblock container %}