{% extends 'base.html' %}


{% load staticfiles %}

{% block splash %}
    <ul class="breadcrumb">
        <li class="breadcrumb" > <a href="{% url 'home' %}">Home</a> </li>
        <li class="breadcrumb"  > <a class="text-muted" href="{% url 'help' %}">Help</a> </li>
    </ul>
{% endblock %}
{% block navbar-left %}
    {% include "_navbar.html" with active_link="help" %}
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav " >
                <div class="page-header "> <h1 class="text-primary"> {% block titleOfPage %} SHE Walkthrough {% endblock %}</h1></div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="lead-guid"><a href="#about-she" >About SHE</a></li>
                    <br>
                    <li class="lead-guid"><a href="#user-list" data-toggle="collapse" aria-expanded="false" aria-controls="user-list" >How to Be a User in SHE <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></li>
                    <br>
                    <ul class="lead-guid collapse" id="user-list">
                        <li><a href="#signing-up">Signing up</a></li>
                        <li><a href="#signing-in">Signing in</a></li>
                        <li><a href="#password-recovery">Password Recovery</a></li>
                        <li><a href="#user-profile"> Editing User Profile</a></li>
                        <li><a href="#dashboard">Dashboard</a></li>
                        <li><a href="#project-detail">Project Detail</a></li>
                        <br>
                    </ul>
                    <li class="lead-guid"><a href="#evaluator-list" data-toggle="collapse" aria-expanded="false" aria-controls="evaluator-list">How to Be an Evaluator in SHE <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></a></li>
                    <br>
                    <ul class="lead-guid collapse" id="evaluator-list">
                        <li><a href="#adding-evaluation">Adding a New Evaluation</a> </li>
                        <li><a href="#adding-env">Adding a New Environment</a> </li>
                        <br>
                    </ul>
                    <li class="lead-guid"><a href="#manager-list" data-toggle="collapse" aria-expanded="false" aria-controls="manager-list">How to Be a Manager in SHE <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></a></li>
                    <br>
                    <ul class="lead-guid collapse" id="manager-list">
                        <li><a href="#defining-set">Defining a Heuristic Set</a></li>
                        <li><a href="#defining-project">Defining a Project</a></li>
                        <li><a href="#merging-evaluation">Merging Evaluations</a></li>
                        <li><a href="#export">Exporting a Report</a></li>
                        <br>
                    </ul>
                </ul><br>

            </div>

            {#            {% include 'guid.html' %}#}
            <!-- Page Content -->
            <div class="container" id="top-of-page-help">
                <div class="row">
                    <!-- Guid Entries Column -->
                    <div class="col-md-10">
                        <h1 id="guid-jumb" class="jumbotron text-center fa-4x">
                            How to use SHE?
                            {#                    <small> How to use SHE</small>#}
                        </h1>
                        <br>
                        <br>


                        <div id="about-she">
                            <br>
                            <br>
                            <h2 class="text-primary">About SHE</h2>
                        </div>
                        <br>
                        <p class="lead-guid"><span class="text-primary">SHE</span> or <span class="text-primary">Smart Heurisic Evaluation </span>is a collaborative web application for supporting <a href="https://www.nngroup.com/articles/how-to-conduct-a-heuristic-evaluation/">Heuristic Evaluation</a>.
                            The process of systematic development of user friendly interfaces or <a href="https://en.wikipedia.org/wiki/Usability_engineering">usability engineering</a> involves constant evaluation of a system design through usability tests and inspection methods. Heuristic evaluation (HE) is one of the most important inspection methods in usability engineering, in which a number of usability experts evaluate the user interfaces based on a set of pre-defined principles or the so called <em>"heuristics"</em> and at the end, their findings will be merged in a summary report.</p>
                        <p class="lead-guid">  SHE is tool for supporting the whole process of heuristic evaluation.  It is smart enough to recognize similarities between evaluations and recommend them as a potential merging candidate in the final report.
                        </p>

                        <!-- Sign up -->

                        <div id="how-user">
                            <br>
                            <br>
                            <h2 >
                                <span class="text-primary">How to Be a User in SHE?</span>
                            </h2></div>
                        <br>
                        <p class="lead-guid">
                            This section introduces some aspects of account managements in SHE, e.g. Signing up/in, profile management, password recovery, etc. Each functionality is described with the relevant screenshots.
                        </p>
                        <hr>
                        <br>
                        <div id="signing-up"><br><br> <h2>Signing Up:</h2></div>
                        <p class="lead-guid">  To use SHE having an account is necessary. Registering an account is done in a simple step with a <strong>name </strong><small>(will be used as the username)</small> and also an <strong>email</strong> <small>(will be used for password recovery)</small>.
                        </p>
                        <img class="img-responsive" src="/media/guid/user/signup.jpeg">
                        <hr>
                        <br>

                        <!-- Sign in -->
                        <div id="signing-in"><br><br> <h2>Signing in:</h2></div>
                        <br>
                        <p class="lead-guid">
                            A registered user should log in to be able to use SHE:
                        </p>
                        <img class="img-responsive" src="/media/guid/user/login.jpeg" alt="">
                        <hr>
                        <br>

                        <!-- password revcovery -->
                        <div id="password-recovery"><br><br> <h2>Password Recovery:</h2></div>

                        <br>
                        <p class="lead-guid">
                            If users forgot their passwords it is possible for them to recover their password using their registered email:
                        </p>
                        <div class="text-center">
                            <img class="img-responsive col-sm-offset-4" src="/media/guid/user/passRecovery.jpeg" alt="">
                        </div>
                        <br>
                        <hr>
                        <br>

                        <!-- Editing profile -->
                        <div id="user-profile"><br><br> <h2>Editing User Profile</h2></div>

                        <br>
                        <p class="lead-guid">
                            Users can have an editable profile with a photo and a short bio:
                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/user/editprofile.jpeg" alt="">
                        <br>
                        <hr>
                        <br>
                        <!-- Dashboard -->
                        <div id="dashboard"><br><br> <h2>Dashboard</h2></div>

                        <br>
                        <p class="lead-guid">
                            Once a user logged in, he/she sees the dashboard. For the first time dashboard is empty and will be look like this:                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/emptyDashboard.jpeg" alt="">
                        <br>
                        <p class="lead-guid">
                            Once a user creates his own projects as the manager or become an evaluator in the projects of the other users or create some environment specifics and define new heuristic sets then dashboard will be look like this:
                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/user/dashboardFull.jpeg" alt="">
                        <br>
                        <hr>
                        <br>

                        <!-- Project Detail -->
                        <div id="project-detail"><br><br> <h2>Project Detail</h2></div>

                        <br>
                        <p class="lead-guid">
                            A user can see the details of each project just by clicking on the title of the project and depending on being a manager or an evaluator he/she can see different primaryrmation and operations for that project.                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/projectDetail.jpeg" alt="">
                        <hr>

                        <!-- Being an evaluator -->
                        <br>
                        <div id="how-evaluator">
                            <br>
                            <br>
                            <h2 >
                                <span class="text-primary" >How to Be an Evaluator in SHE?</span>
                            </h2></div>
                        <br>
                        <p class="lead-guid">
                            Users will see in their dashboard whether or not they are an evaluator in a project of other users:                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/evaluator/dashboardEvaluator.jpeg" alt="">
                        <br>
                        <p class="lead-guid"> If the deadline of a project is not passed an evaluator can see the blue button Evaluate. By clicking this button an evaluator can start adding his/her evaluations to the project. Evaluators can remove themselves as an evaluator in a specific project by pressing the Del button. The delete process will be finished after the confirmation in a pop up warning window.
                        </p>
                        <br>
                        <hr>

                        <!-- Adding a new evaluation -->
                        <br>
                        <div id="adding-evaluation"><br><br> <h2>Adding a New Evaluation</h2></div>

                        <br>
                        <p class="lead-guid">
                            If the project deadline for the evaluation is not passed an evaluator can press the add evaluation button to open an evaluation form similar to the following screenshot. By filling the form and pressing the submit button at the bottom of the page the evaluation will be saved. In this form some fields are optional and some are necessary. Title, place and description fields are required to be filled. The rest is optional but recommended; e.g. the link field in the evaluation of a website page which should be filled in this form: http://www.example.com.
                            <br>
                            <img class="img-responsive" src="/media/guid/evaluator/evaluationForm.jpeg" alt="">
                            <br>
                        <hr>


                        <!-- Adding env -->
                        <br>
                        <div id="adding-env"><br><br> <h2>Adding a New Environment</h2></div>
                        <br>
                        <p class="lead-guid">
                            Evaluators can register the specifics of their environment so the manager can see the circumstances of the evaluations e.g. monitor resolution, operation system, etc. Creating an environment item is done by clicking on the link <span class="text-capitalize strong text-info">create an evaluation environment </span> which is in the sidebar of the dashboard and will opens a form similar to the following screenshot. An evaluator can create multiple environments.
                            <br>
                            <img class="img-responsive" src="/media/guid/evaluator/createEnv.jpeg" alt="">
                            <br>
                        <hr>


                        <!-- Being an manager -->
                        <br>
                        <div id="how-manager">
                            <br>
                            <br>
                            <h2 >
                                <span class="text-primary" >How to Be a Manager in SHE?</span>
                            </h2></div>
                        <br>
                        <p class="lead-guid">
                            Being a manager means to define and edit a project. A manager can add and delete other users as evaluators of the project and finally can merge the evaluations and create reports of the results of the evaluation. A manager can define and edit heuristic sets upon which a project is defined.
                        <hr>
                        <br>
                        <br>

                        <!-- Defining a heuristic set -->
                        <div id="defining-set"><br><br> <h2>Defining a Heuristic Set</h2></div>
                        <br>
                        <p class="lead-guid">
                            SHE already has some widely used set of heuristics like Nielsen heuristics, but a managers can define their own custom set of heuristic sets by clicking on the create a new heuristic set tab in the sidebar. A page similar to the the following screenshot will opens and after entering a name and a description the set will be created after submitting and a page similar to the following screenshot will be opened. The set still does not have any principle and therefore is empty. </p>
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/createSet.jpeg" alt="">
                        <br>
                        <p class="lead-guid">Adding new principles is done by clicking Add New Heuristic Principle button:</p>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/emptyHeuristicSet.jpeg" alt="">
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/addingPrinciple.jpeg" alt="">
                        <br>

                        <br>
                        <p class="lead-guid">
                            After adding some principles the set will be similar to the following screenshot. Each principle can be edited or be deleted using operation buttons in the last columns.
                        </p>
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/filledSet.jpeg" alt="">
                        <hr>
                        <br>
                        <h3 class="text-warning">NOTE:</h3>
                        <p class="lead-guid">
                            A set of heuristics which is in use in a project cannot be deleted as long as that project is using the set. To delete this set the manager can edit that project and chose another set of heuristics or even delete the whole project to make the set free to delete.
                        </p>
                        <br>
                        <hr>
                        <br>

                        <!-- def project -->
                        <br>
                        <div id="defining-project"><br><br> <h2>Defining a Project</h2></div>
                        <br>
                        <p class="lead-guid">
                            Defining a new project is done by clicking on the <span class="text-info strong">Creare a New Project </span>link in the sidebar of the dashboard to see a form like the following screenshot. Except the filed link, the other fields are required to be filled. After filling the form clicking submit will create the new project.
                        </p>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/defineProject.jpeg" alt="">
                        <hr>
                        <br>

                        <!-- Merging Evaluations: -->
                        <br>
                        <div id="merging-evaluation"><br><br> <h2>Merging Evaluations</h2></div>

                        <br>
                        <p class="lead-guid">
                            Manager can merge existing evaluations and make merged evaluation. The merging can be done anytime but it is better to be after the deadline of the project. After clicking on the <span class="text-info strong">Merge Evaluations </span>button in the project detail or in the overview of the project in the dashboard merge desktop opens a similar page to the following screenshot. In the first column with the name Evaluations (not merged) you can see all the evaluations which are not already merged, categorized by the name of their evaluators.
                        </p>
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/mergeBeforeClick.jpg" alt="">
                        <br>
                        <br>
                        <p class="lead-guid">By clicking on each evaluation you can see the details of that evaluation. Getting similar evaluations is done after clicking the checkbox of any evaluation. Each time a checkbox is checked place-based and content-based recommendation for merge appears in the middle columns:</p>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/mergeAfterClick.jpeg" alt="">
                        <br>
                        <br>
                        <p class="lead-guid">
                            By choosing more than two checkboxes a blue button with the name Merge Selected Evaluations appears on the top left of the page:
                        </p>
                        <br>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/mergeBtn.jpg" alt="">
                        <br>
                        <br>
                        <p class="lead-guid">Clicking this button will combines the information of all the selected evaluations to create a new merged evaluation. A form-page for evaluation with the information of the new merged evaluation will be opened which can/should be edited and the combined data in its fields be summerized.</p>
                        <br>
                        <hr>
                        <br>
                        <br>

                        <!-- Export -->
                        <div id="export"><br><br> <h2>Exporing a Report</h2></div>

                        <br>
                        <p class="lead-guid">
                            In project detail page a manger can find different <span class="text-info strong">Export</span> buttons which gives different export options in a dropdown menu to export both merged evaluations and normal evaluations separately.
                        <p class="lead-guid">The same as exporting evaluations in project detail page and also on the top of the merge desktop page the manager can find <span class="text-info strong">Export</span> button for producing and exporting a report in different format.</p>
                        <br>
                        <img class="img-responsive" src="/media/guid/manager/export.jpg" alt="">
                        <hr>
                        <br>

                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="text-left">
                    <a class="btn btn-info" href="#top-of-page-help"> <span class="glyphicon glyphicon-triangle-top"></span></a>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->

        </div>
    </div>
{% endblock container %}