{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
    {% if not user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
        <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block splash %}
    <div class="jumbotron jumbotron-carousel corporate-jumbo">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1 class="">{% include "_brandname.html" %}</h1>
                    <h2 class="">Smart Heuristic Evaluation</h2>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-lg" href="{% url 'profiles:dashboard:user-dashboard' %}" role="button">Go to Your Dashboard!</a>
                    {% else %}
                        <a class="btn btn-primary btn-lg" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4">

                </div>
            </div>
        </div>
    </div>
{% endblock splash %}

{% block container %}
    <!-- Benefits of the Django application -->
    <a name="about"></a>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="lead"> A Smart Tool for Heuristic Evaluation</h2>
                <p>SHE or Smart Heurisic Evaluation is a a collaborative web application for supporting heuristic evaluation.
                It smart enough to recognize similarities between evaluations and recommend them as a potential merging candidate.</p>
                <p><a class="btn btn-primary" href="#" role="button">Learn More &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2 class="lead">Sign up for free</h2>
                <p>Opening an account is free and simple. For signing up you just need an email and a password.</p><br> <br>
                <p><a class="btn btn-primary" href="#" role="button">Learn More &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2 class="lead">Start a Project </h2>
                <p>Create a project for evaluation add other users in your project as an evaluator.</p><br> <br>
                <p><a class="btn btn-primary" href="#" role="button">Learn More &raquo;</a></p>
            </div>
        </div>
    </div>

{% endblock container %}

{% block scripts %}
    <script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

