
{% for e in evaluations %}
    <li class="list-group-item">
        {#        {% if e.merged == False %}#}
        <div class="checkbox pull-right">  <input type="checkbox" value={{ e.id }} class='checkBoxClass big-checkbox'/>
        </div>
        {#        {% endif %}#}
        <a href="javascript:evalDetail({{ e.id }})" >
            <div class='eval-item'>
                <div class="lead"> {{ e.title | truncatewords:5}} <br> </div>
                <div><small>{{ e.description | truncatewords:5 }} </small></div>
            </div>
        </a>
    </li>
{% endfor %}

{% if used_evals %}
    {% for e in used_evals %}
        <li class="list-group-item">
            <div class="checkbox pull-right">  <input type="checkbox" value={{ e.id }} class='checkBoxClass big-checkbox'/>
            </div>
            <a href="javascript:evalDetail({{ e.id }})" >
                <div class='eval-item'>
                   <div class="lead"> {{ e.title | truncatewords:5 }}</div> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <br>
                    <div>
                        <small>{{ e.description | truncatewords:5 }} </small>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
{% endif %}
