
{#{% if evaluations %}#}
{#    <div class="row">#}
{#    <div class="col-sm-offset-7 ">#}
{#        <input type="checkbox" id="eval-checkBoxes" />#}
{#    </div>#}
{#    </div>#}
{#{% endif %}#}

{% for e in evaluations %}
    <li class="list-group-item">
        <div class="checkbox pull-right">  <input type="checkbox" value={{ e.id }} class='checkBoxClass'/>
        </div>
        <a href="javascript:evalDetail({{ e.id }})" >
            <div>
                {{ e.title }} <br> <small>{{ e.evaluator.name }}</small>
            </div>
        </a>
        {#        <div>#}
        {#            <a class="btn btn-sm btn-info" href="{% url 'merge:recommend' e.id %}">Similar Evaluations</a>#}
        {#        </div>#}

    </li>

{% endfor %}

{##}

