
{#{% if evaluations %}#}
{#    <div class="row">#}
{#    <div class="col-sm-offset-7 ">#}
{#        <input type="checkbox" id="eval-checkBoxes" />#}
{#    </div>#}
{#    </div>#}
{#{% endif %}#}

{% for e in evaluations %}
    <li class="list-group-item">
        {% if e.merged == False %}
            <div class="checkbox pull-right">  <input type="checkbox" value={{ e.id }} class='checkBoxClass'/>
            </div>
        {% endif %}
        <a href="javascript:evalDetail({{ e.id }})" >
            <div class='eval-item'>
                <div> {{ e.title }} <br> </div>
                    <div><small>{{ e.description | truncatewords:5 }} </small>
                </div>
        </a>
    </li>
{% endfor %}

{% if used_evaluations %}
    {% for e in used_evaluations %}
        <li class="list-group-item">
            <div class="checkbox pull-right">  <input type="checkbox" value={{ e.id }} class='checkBoxClass'/>
            </div>
            <a href="javascript:evalDetail({{ e.id }})" >
                <div class='eval-item'>
                    {{ e.title }} <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <br>
                    <div><small>{{ e.description | truncatewords:5 }} </small>
                </div>
            </a>
        </li>
    {% endfor %}
{% endif %}
