
{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav " >
                <div class="page-header "> <h1 class="text-primary"> {% block titleOfPage %} Title {% endblock %}</h1></div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% block dashboard-active%} {% endblock %}"><a href="{% url 'profiles:dashboard:user-dashboard' %}" >Dashboard</a></li>

                    <li class="{% block createProjectActive %} {% endblock %}"><a href="{% url 'profiles:dashboard:project_create' %}">Create a project</a></li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Projects..">
                    <span class="input-group-btn">
                         <button class="btn btn-default" type="button">
                               <span class="glyphicon glyphicon-search"></span>
                            </button>
                     </span>
                </div>
            </div>

            {% block content %}
            {% endblock content%}

        </div>
    </div>
{% endblock container %}

