
{% extends 'base.html' %}

{% load staticfiles %}

{% block splash %}
    <ul class="breadcrumb">
        <li class="breadcrumb" > <a href="{% url 'home' %}">Home</a> </li>
        {% block breadcrumb %}
        {% endblock %}
    </ul>
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav " >
                <div class="page-header "> <h1 class="text-primary"> {% block titleOfPage %} Title {% endblock %}</h1></div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% block dashboard-active%} {% endblock %}"><a href="{% url 'profiles:dashboard:user-dashboard' %}" >Dashboard</a></li>
                    <li class="{% block createProjectActive %} {% endblock %}"><a href="{% url 'profiles:dashboard:project_create' %}">Create a new project</a></li>
                    <li class="{% block createHeuristics %} {% endblock %}"><a href="{% url 'profiles:dashboard:HeuristicSet-create' %}">Create a new heuristic set</a></li>
                    <li class="{% block createEnvironment %} {% endblock %}"><a href="{% url 'profiles:dashboard:environment-create' %}">Create a new evaluation environment</a></li>
                    {% block sidebar %} {% endblock %}
                </ul><br>
{#                <div class="input-group">#}
{#                    <input type="text" class="form-control" placeholder="Search Projects..">#}
{#                    <span class="input-group-btn">#}
{#                         <button class="btn btn-default" type="button">#}
{#                               <span class="glyphicon glyphicon-search"></span>#}
{#                            </button>#}
{#                     </span>#}
{#                </div>#}
            </div>

            {% block content %}
            {% endblock %}

        </div>
    </div>
{% endblock container %}

{% block scripts %}
{% endblock scripts %}
