{% extends "HE3/baseHE.html" %}
{% load staticfiles %}
{% block content %}
    <div class="col-sm-9">

        {% if asmanager %}

            <div class="panel panel-primary">
                <div class="row panel-heading">
                    <div class="col-sm-4">
                        <p class="lead">You are the <strong>manager</strong> of these projects:</p>
                    </div>
                    <div class="col-sm-offset-10">
                        <a class="btn btn-info btn-lg" href="{% url 'profiles:dashboard:project_create' %}">
                            <span class="glyphicon glyphicon-plus myglyphicon " aria-hidden="true"></span>
                            Create a new Project
                        </a>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table  table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>

                            <th>Link</th>
                            <th>Status</th>
                            <th>Number of Evaluators</th>
                            <th>Number of Evaluations</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in asmanager %}
                            <tr>
                                <td>  {{ forloop.counter }} </td>
                                <td> <a href="{% url 'profiles:dashboard:project_detail' project.id %}"> {{ project.name }} </a></td>
                                <td> {{ project.description }} </td>
                                <td> <a href="{{ project.link }}">{{ project.link }} </a> </td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        {% else %}
            <div class="jumbotron">
                <div> <p class="lead text-primary">You do not have any project as the manager. Create a new one!</p>
                    <div class="col-sm-offset-6"> <a class="btn btn-primary" href="{% url 'profiles:dashboard:project_create' %}"> Create a new Project</a></div>
                </div>
            </div>
        {% endif %}
        <hr>

        {% if asevalutor %}
            <div class="panel panel-primary">
                <div class="panel-heading"><p class="lead">You are the <strong>evaluator</strong> in these projects:</p></div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>

                            <th>Link</th>
                            <th>Status</th>
                            <th>Number of submitted evaluations</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in asevalutor %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> <a href="{% url 'profiles:dashboard:project_detail_for_evaluator' project.id %}"> {{ project.name}}  </a>  </td>
                                <td>{{ project.description }} </td>
                                <td><a href="{{ project.link }}">{{ project.link }} </a> </td>

                                <td> </td>

                                <td> </td>

                                <td> </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock  %}