{% extends "base.html" %}

{% block container%}
    <h2> Projects</h2>
    <p> You are manager of these projects:</p>
    <ul>

    {% for project in asmanager %}
        <li> <a href="{% url 'profiles:dashboard:project_detail' project.id %}"> LOGO - {{ project.name}} </a>  - STATUS - Number of Evaluators - Number of submited Evaluations - Edit - Merge </li>
    {% endfor %}

    </ul>

    <p> You are evaluator in these projects:</p>

    <ul>

    {% for project in asevalutor %}
        <li> <a href="{% url 'profiles:dashboard:project_detail' project.id %}"> LOGO - {{ project.name}}  </a> - STATUS - Add Evaluation  </li>
    {% endfor %}

    </ul>
{% endblock  %}