


<div class="modal fade" {% block id %} {% endblock %} tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align text-danger" id="Heading">{% block title %} {% endblock title %}</h4>
            </div>


            <div class="modal-body">

                <div class="text-center"><span class=" alert alert-danger glyphicon glyphicon-warning-sign bigglyphicon"></span></div>
                <div class="text-center">
                    <h4> {% block warning %}
                        {% endblock warning %}
                    </h4>
                </div>

            </div>

            <div class="modal-footer ">
                {% block delete %}
                <a {% block href %} {% endblock href %} class="btn btn-warning" ><span class="glyphicon glyphicon-ok-sign"></span> Delete</a>
                {% endblock delete %}
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Don`t delete</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

