
{#{% load crispy_forms_tags %}#}
{#{{  form | crispy }}#}
{##}
{##}
{##}
{#{%  if form.instance.screenshot %}#}
{##}
{#                <img src="{{ form.instance.screenshot.big.url }}" alt="" />#}
{#{% endif %}#}
{##}
{#{{ form.mergedScreenshots.label_tag }}#}
{##}
{#{{  form | crispy }}#}
{##}
{#{{ form.instance.mergedScreenshots }}#}

{#<div class="btn-group" data-toggle="buttons">#}
{#{% for checkbox in form.mergedScreenshots %}#}
{#   <img src="{{ checkbox.choice_label }}" />#}
{#{% endfor %}#}
{#</div>#}
{% load mytags %}

<div class="form-horizontal">
    {% for field in form %}
        {#        {% if field.id_for_label == 'id_mergedFromEvaluations_0' %}#}
        {#            <h2> In this page you see the data combination of the following evaluations:</h2>#}
        {##}
        {#                {% for checkbox in form.mergedFromEvaluations %}#}
        {#                    <div class="row">  {{ checkbox.choice_label  }} </div> {{ checkbox.instance}}#}
        {#                {% endfor %}#}
        {#        {% else %}#}
        <div class="form-group">
            {{ field.errors }}
            <label class="">
                {% if field.field.required %} <strong>{{ field.label_tag }} </strong>   <span class="glyphicon-asterisk"></span>
                {% else %}
                    <small class="text-muted">{{ field.label_tag }}</small>
                {% endif %}
            </label>
            {% if field.id_for_label == 'id_mergedScreenshots_0' %}
                <div class="">
                    <br>
                    {% for checkbox in form.mergedScreenshots %}
                        <div class="">{{ checkbox.tag }}</div> <br> {{ checkbox.tag.class }}
                        <div class="img-responsive">
                            <a href="{{ checkbox.choice_label }}" ><img src="{{ checkbox.choice_label}}" /> </a><br>
                        </div>
                        <br> <hr>
                    {% endfor %}
                </div>

            {% else %}
                {{ field |addcss:"form-control" }}
                <div class="text-muted">{{ field.help_text }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{#{% for field in form %}#}
{#    [...]#}
{#    {% if field.field.widget|is_checkbox %}#}
{#      {{ field }}{{ field.label_tag }}#}
{#    {% else %}#}
{#      {{ field.label_tag }}{{ field }}#}
{#    {% endif %}#}
{#    [...]#}
{#{% endfor %}#}