{% extends 'HE3/baseHE.html' %}
{% load staticfiles %}

{% block breadcrumb %}
        <li class="breadcrumb-reverse"> <a class="text-muted" href="{% url 'profiles:dashboard:user-dashboard' %}"> Dashboard </a> </li>
        <li class="breadcrumb-reverse active"><a class="text-muted" href="">Project Detail</a> </li>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="starter-template">
            <h1>{{ project.name }}</h1>
            <p class="lead"> {{ project.description }} <br> {{ project.link }}
            </p>
        </div>
        <div class="row">
            <div class="col-sm-offset-2">

                <a  class="btn btn-default" href=" {% url 'profiles:dashboard:project_update' project.id %}">Edite</a>
                <a  class="btn btn-danger" href=" {% url 'profiles:dashboard:project_delete' project.id %}">delete</a>
                <a  class="btn btn-primary" href=" {% url 'profiles:dashboard:Add-Evaluation' project.id %}">Add Evaluation</a>
            </div>
        </div>
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="lead">You are the <strong>manager</strong> of these projects:</p>
                        </div>
                        <div class="aligned">
                            <a class="btn btn-info btn-sm" href="{% url 'profiles:dashboard:project_create' %}">
                                <span class="glyphicon glyphicon-plus myglyphicon " aria-hidden="true"></span>
                                Create a new Project
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
{% endblock %}

