{#{% extends 'HE3/baseHE.html' %}#}
{#{% load staticfiles %}#}
{##}
{#{% block breadcrumb %}#}
{#    <li class="breadcrumb"> <a href="{% url 'profiles:dashboard:user-dashboard' %}"> Dashboard </a> </li>#}
{#    <li class="breadcrumb active"><a class="text-muted" href="">Project Detail for Manager</a> </li>#}
{#{% endblock %}#}


{% if user == project.manager %}
    {% include 'HE3/project_detail_manager.html' %}
{%elif user in project.evaluators.all %}
    {% include 'HE3/project_detail_for_evaluator.html' %}
{% else %}
    <h1> Page not found!</h1>
{% endif %}