
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="container">
    <form action="" method="post">{% csrf_token %}
        <h3>Are you sure you want to delete "{{ project }}"?</h3>
        <input type="submit" class="btn btn-warning" value="Confirm" />
        <a  href="{% url 'profiles:dashboard:user-dashboard' %}" class="btn btn-default" value="Abort"> Cancel</a>
    </form>
</div>

<!-- This code is based on this source code: http://bootsnipp.com/snippets/featured/bootstrap-snipp-for-datatable -->










