{#{% extends 'HE3/baseHE.html' %}#}
{#{% load staticfiles %}#}
{##}
{#{% block breadcrumb %}#}
{#    <li class="breadcrumb"> <a href="{% url 'profiles:dashboard:user-dashboard' %}"> Dashboard </a> </li>#}
{#    <li class="breadcrumb active"><a class="text-muted" href="">Project Detail for Manager</a> </li>#}
{#{% endblock %}#}

{% ifequal user project.manager %}
   <p> you are the manager </p>
    {% include 'HE3/project_detail_manager.html' %}
    {% else %}
    <p> you are evaluator</p>
    {% include 'HE3/project_detail_for_evaluator.html' %}
{% endifequal %}