{% extends 'HE3/baseHE.html' %}
{#{% load render_table from django_tables2 %}#}

{% load staticfiles %}
{##}
{#{% block styles %}#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />#}
{##}
{#{% endblock %}#}

{% block breadcrumb %}
    <li class="breadcrumb"> <a class="" href="{% url 'profiles:dashboard:user-dashboard' %}"> Dashboard </a> </li>
    <li class="breadcrumb"><a class="text-muted" href="">Project Detail for Evaluator</a> </li>
{% endblock %}

{% block titleOfPage %} {{ project.name }}{% endblock %}
{% block content %}

    <div class="col-sm-9">
        <div class="row"> <!--  row for project detail-->
            <div class="panel panel-primary">
                <div class="panel-heading text-center"> <span class="page-header"><h2>{{ project.name }} </h2></span></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Status</th>
                                <th>Number of your submitted evaluations</th>
                                <th>Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{ project.description }} </td>
                                <td> {{ project.link }}</td>
                                <td> {{ project.deadline }}

                                    {% if project.deadline > now %}
                                        ( Deadline is in
                                        {{ project.deadline|timeuntil }} )
                                    {% else %}
                                        (Evaluation time is finished!)
                                    {% endif %}
                                </td>
                                <td> {{ evaluations|length }}</td>
                                <td class="text-center">
                                    <span class="btn-group-sm">
                                    {% if project.deadline > now %}

                                        <a class="btn btn-primary" href="{% url 'profiles:dashboard:Add-Evaluation' project.id %}">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Evaluation
                                    </a>
                                    {% endif %}

                                        <button type='button' class="btn btn-warning btn-sm" data-toggle="modal" data-target="#delModal" data-url="{% url 'profiles:dashboard:delete-evaluator' project.id %}" data-project="{{ project.name }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Delete Project
                                    </button>
                                    </span>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                    {#                        <a  class="btn btn-danger" href="{% url 'profiles:dashboard:delete-evaluator' project.id %}"> delete</a>#}
                    <div>
                        {% block warnings %}
                        {% endblock warnings %}
                    </div>
                </div><!--Panel body -->
            </div><!--Panel -->
        </div> <!-- end of row for project detail-->

        {% if evaluations %}
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading text-center"> <h4 class="lead text-success">Submitted Evaluations </h4> </div>
                    <div class="panel-body">
                        {% include 'HE3/tables/eval-table-operation-forEvaluator.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div><!-- col-sm-9 -->
    {% include 'HE3/delete_confirmation.html' %}
    {% include 'HE3/Evaluations/eval-modal.html' %}

{% endblock  %}


{#<div class="table table-responsive">#}
{#                        <table class="table table-bordered table-striped table-hover">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>#</th>#}
{#                                <th>Title</th>#}
{#                                <th>Heuristic Principe</th>#}
{#                                <th>Place</th>#}
{#                                <th>Description</th>#}
{#                                <th>Recommendation</th>#}
{#                                <th>Positivity</th>#}
{#                                <th>Severity</th>#}
{#                                <th>Frequency</th>#}
{#                                <th>Screenshot</th>#}
{#                                <th class=" action-checkbox-column"> <label> <input type="checkbox"></label></th>#}
{##}
{##}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for e in evaluationsOfUser %}#}
{#                                <tr>#}
{#                                    <td> <a href="{% url 'profiles:dashboard:evaluation-update' e.pk %}">{{ forloop.counter }}</a></td>#}
{#                                    <td> <a href="{% url 'profiles:dashboard:evaluation-update' e.pk %}">{{ e.title }}</a></td>#}
{#                                    <td>  {{ e.heurPrincip}}   </td>#}
{#                                    <td>{{ e.place }}</td>#}
{#                                    <td>{{ e.description |truncatewords:5 }} </td>#}
{#                                    <td>{{ e.recommendation |truncatewords:5}}</td>#}
{#                                    <td> {{ e.get_positivity_display }}</td>#}
{#                                    <td>{{ e.get_severity_display }}</td>#}
{#                                    <td>{{ e.get_frequency_display }}</td>#}
{#                                    <td>{{ e.screenshot }}</td> </a>#}
{#                                    <td class=" action-checkbox-column"> <label> <input type="checkbox"></label></td>#}
{#                                </tr>#}
{##}
{##}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}